@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

.atom-input{
  display: block;
  border-radius: 1px;
  background-color: #2b375f;
  padding: 8px 16px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #c8c8e7;
  border: none;

  @include placeholder-color(rgba(255, 255, 255, .2));

  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
}