header.album-details-header{
  display: grid;
  column-gap: 38px;
  row-gap: 30px;
  grid-template-areas:
    "cover info"
    "cover actions";
  grid-template-columns: 256px auto;
  grid-template-rows: auto 40px;
  margin: 50px 0;
  justify-items: start;
  align-items: end;
  
  @media (max-width: 640px) {
    grid-template-areas:
      "cover info"
      "cover info"
      "actions actions";
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto 35px;
    column-gap: 16px;
    margin: 15px 0 40px 0;
  }

  div.main-cover{
    grid-area: cover;
  }
  div.album-info{
    grid-area: info;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;

    h1{
      font-size: 35px;
      font-weight: 800;
      color: #e4ecff;
      margin: 0 0 12px 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
  
      @media (max-width: 640px) {
        font-size: 25px;
      }
    }

    .author {
      font-size: 16px;
      font-weight: bold;
      color: #c8c8e7;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
  
      @media (max-width: 640px) {
        font-size: 14px;
      }

      a{
        color: white;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .context {
      font-size: 18px;
      color: #cdcded;
      overflow: hidden;
      text-overflow: ellipsis;
  
      @media (max-width: 640px) {
        font-size: 14px;
      }
    }
  }

  div.actions{
    grid-area: actions;
    display: flex;
    column-gap: 16px;
    white-space: nowrap;
    align-items: flex-end;
    max-width: 100%;
    overflow: hidden;

    > :nth-child(2){
      min-width: 0;
      flex-shrink: 1;
      flex-grow: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > :nth-child(3){
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}