header.album-details-header {
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  align-items: flex-end;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
  
  div.main-cover{
    margin-right: 38px;
    border-radius: 4px;
    width: 256px;
    height: 256px;
    background-color: #151f43;

    @media (max-width: 640px) {
      width: 60%;
      max-width: 256px;
      height: auto;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  div.album-info-and-actions {

    @media (max-width: 640px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 25px
    }

    h1 {
      font-size: 35px;
      font-weight: 800;
      color: #e4ecff;
      margin: 0 0 12px 0;
      padding: 0;

      @media (max-width: 640px) {
        font-size: 25px;
      }
  
    }
  
    .author {
      font-size: 16px;
      font-weight: bold;
      color: #c8c8e7;
      margin-bottom: 4px;
 
      @media (max-width: 640px) {
        font-size: 14px;
      }

      a{
        color: white;
        text-decoration: none;
  
        &:hover{
          text-decoration: underline;
        }
      }
    }
  
    .context {
      font-size: 18px;
      color: #cdcded;
      margin-bottom: 25px;

      @media (max-width: 640px) {
        font-size: 14px;
      }

    }
  
    .actions {
      display: grid;
      column-gap: 16px;
      row-gap: 16px;
      grid-template-areas: "main secondary overflow";
  
      @media (max-width: 640px) {
        grid-template-areas:
          "main main"
          "secondary overflow";
      }
    }
  }
}