header.queue-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding:30px 40px 15px 40px;

  h2{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button{
    svg{
      width: 24px;
      height: 24px;
      display: block;
      path{
        fill: #c8c8e7;
      }
    }
  }
}
