article.album {

  div.cover{
    position: relative;
    img.cover{
      width: 100%;
      border-radius: 4px;
      margin: 0 0 20px 0;
    }
    img.glow{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 4px;
      transform: scale(.8) translateY(10%);
      filter: blur(50px);
      z-index: -1;
    }
  }
  h1.title{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0 0 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.artist{
    font-size: 14px;
    color: #cdcded;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}