article.artist {
  text-align: center;
  img,
  svg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  .name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.phantom {
    div.circle {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      margin-bottom: 20px;
      background-color: #151f43;
      aspect-ratio: 1/1;
    }
    .name {
      color: #081c4e;
      line-height: 1.3;
    }
  }
}
