// This wrapper contains the SeekBar and the Player itself.
.player-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

aside#player {
  background-color: #151f43;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  left: 0;
  right: 0;
  box-shadow: 0 8px 21px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
}
