.player-wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.progress-bar{
  position: relative;
  height: 9px;
  box-shadow: 0 8px 21px 0 rgba(0, 0, 0, 0.1);
  background-color: #2b375f;
  cursor: pointer;

  .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 9px;
    background-image: linear-gradient(to left, #ff01f9, #4b038f);
    pointer-events: none;
    .progress-shadow{
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to left, #ff01f9, #4b038f);
      transition: all .2s;
      filter: blur(10px)
    }
  }
}

aside#player {
  background-color: #151f43;
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  left: 0;
  right: 0;
  box-shadow: 0 8px 21px 0 rgba(0, 0, 0, 0.1);
  height: 100px;

  div#song {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    img.cover {
      width: 70px;
      height: 70px;
      border-radius: 4px;
      margin-right: 20px;
      background-color: black;
    }

    .song-data{
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      overflow: hidden;

      div.title {
        max-width: 100%;
        font-size: 16px;
        font-weight: bold;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div.artist-and-album {
        font-size: 14px;
        color: #cdcded;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div.duration-and-proggress {
        font-size: 12px;
        color: #cdcded;
      }
    }
  }

  div#controls {
    display: flex;
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  div#context {
    display: flex;
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  button {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: all 0.2s;

    &:disabled {
      opacity: 0.5;
    }

    &.previous,
    &.next {
      padding: 17px;
    }

    &.queue {
      padding: 11.5px 13px;
    }

    svg {
      display: block;
    }
  }
}
