@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

div#queue {
  position: fixed;
  bottom: 120px;
  right: 15px;
  top: 90px;
  background-color: rgba(62, 69, 93, 0.8);
  backdrop-filter: blur(20px) saturate(1);
  width: clamp(200px, 50%, 560px);
  border-radius: 10px;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transform: scale(0.95) translateY(10px) translateX(10px);
  opacity: 0;
  color: white;
  overflow-y: auto;
  pointer-events: none;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down("sm") {
    width: 100vw;
    top: 0px;
    right: 0;
    left: 0;
    border-radius: 0;
    bottom: 89px;
    transform: scale(1) translateY(-1%) translateX(0);
    z-index: 2;
  }

  &.visible {
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
  }

  div.queue-content{
    flex-grow: 1;
    flex-shrink: 1;

    div.song-item {
      display: flex;
      flex-wrap: nowrap;
      padding: 18px 30px;
      font-size: 14px;
      max-width: 100%;
      align-items: center;
      position: relative;
      cursor: pointer;

      &:after{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 1px;
        flex-shrink: 0;
        background-color: #4a4d73;
      }
  
      &.current {
        div.title{
          color: #ff0182;
        }
      }
  
      @media (hover: hover){
        &:hover {
          background-color: #202d4d;
        }
        &:active {
          background-color: #151f43;
        }
      }
      
      &:last-child:after{
        content: none;
      }
  
      img.cover,
      svg.cover {
        width: 45px;
        height: 45px;
        margin-right: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
      div.info {
        flex-grow: 1;
        flex-shrink: 1;
        // min-width seems to solve a weird bug:
        // see https://css-tricks.com/flexbox-truncated-text/
        min-width: 0;
  
        div.title {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 800;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        div.artist-and-duration {
          font-size: 14px;
          line-height: 1.5;
          color: #cdcded;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
  
      div.overflow-menu {
        button {
          padding: 8px;
          margin-left: 16px;
          border-radius: 3px;
          
          &:hover {
            background-color:  rgba(0, 0, 0, 0.2);
          }
          svg {
            display: block;
            width: 24px;
            height: 24px;
            color: #cdcded;
          }
        }
      }
    }

    div.empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: rgba(205, 205, 237, 0.4);
      svg{
        width: 64px;
        height: 64px;
        margin-bottom: 16px;
      }
    }
  
  }
}
