div#queue {
  position: fixed;
  bottom: 120px;
  right: 15px;
  top: 90px;
  background-color: rgba(62, 69, 93, 0.8);
  backdrop-filter: blur(20px) saturate(1);
  width: clamp(200px, 50%, 560px);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  transform: scale(0.95) translateY(10px) translateX(10px);
  opacity: 0;
  color: white;
  padding: 15px;
  overflow-y: auto;
  pointer-events: none;

  &.visible {
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
  }

  div.song-item {
    display: flex;
    padding: 20px 15px;
    font-size: 14px;
    max-width: 100%;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(200, 200, 231, 0.3);
    cursor: pointer;

    &.current {
      div.title{
        color: #ff0182;
      }
    }

    &:hover {
      background-color: #202d4d;
      border-radius: 4px;
      border-bottom: 1px solid transparent;
      box-shadow: 0 0 0 4px #202d4d;
    }
    &:active {
      background-color: #151f43;
      border-radius: 4px;
      border-bottom: 1px solid transparent;
      box-shadow: 0 0 0 4px #151f43;
    }

    &:last-child {
      border-bottom: none;
    }

    img.cover,
    svg.cover {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    div.info {
      flex-grow: 1;
      flex-shrink: 1;
      // min-width seems to solve a weird bug:
      // see https://css-tricks.com/flexbox-truncated-text/
      min-width: 0;

      div.title {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 800;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div.artist-and-duration {
        font-size: 14px;
        line-height: 1.5;
        color: #cdcded;
      }
    }

    div.overflow-menu {
      button {
        padding: 8px;
        margin-left: 16px;
        border-radius: 3px;
        
        &:hover {
          background-color: white;
        }
        svg {
          display: block;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  div.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(205, 205, 237, 0.4);
    svg{
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
    }
  }
}
