article.album {
  div.cover {
    position: relative;
    background-color: #081c4e;
    margin: 0 0 20px 0;
    border-radius: 4px;

    img.cover,
    svg.cover {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      opacity: 0;
      transition: opacity .3s;

      &.loaded{
        opacity: 1;
      }
    }
    img.glow,
    svg.glow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      transform: scale(0.8) translateY(5%);
      filter: blur(50px);
      z-index: -1;
      opacity: 0;
      transition: opacity 1s;
      transition-delay: 0s;

      &.loaded{
        opacity: 1;
      }
    }
  }
  h1.title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0 0 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.artist {
    font-size: 14px;
    color: #cdcded;
  }

  &.phantom{
    .title,
    .artist {
      color: #081c4e;
      line-height: 1.3;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
